body {
  margin: 0%;
}

.content {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  font-family: "Archivo", sans-serif;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 15% 1fr 40%;
}

.top-section {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 10.5vh;
  grid-column: 1 / span2;
  grid-row-start: 1;
  background-color: white;
}

.menu-icon,
.mobile-menu {
  display: none;
}

nav {
  transform: rotate(270deg);
  margin-top: -8%;
  margin-right: 17%;
  width: 8%;
  height: 40vh;
}

a {
  text-decoration: none;
}

.nav-links {
  color: rgb(0, 0, 0);
  margin-top: 50%;
  transform: rotate(45deg);
}

.nav-links:hover {
  color: rgb(118, 118, 118);
}

#code {
  color: rgb(118, 118, 118);
}

.socials {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
  height: 10vh;
  margin-left: 10%;
  margin-top: 0%;
}

.linkedin {
  width: 25%;
  margin-top: 0%;
  cursor: pointer;
}

.github {
  margin-top: 20%;
  margin-left: -10%;
  cursor: pointer;
  color: #cd6e29;
}

.code-imgs {
  height: 100%;
  width: 100%;
  grid-column: 1 / span16;
  grid-row-start: 2;
}

#codeorange {
  margin-left: -9%;
  margin-top: -3%;
}

#codeblue {
  margin-left: 10%;
  margin-top: -3%;
}

#collab {
  grid-area: 3/2/3/5;
}

#tech {
  grid-area: 3/5/3/8;
}

.page-titles {
  font-size: 16px;
  color: black;
}

#collab-title,
#tech-title {
  margin-left: 15%;
}

li {
  font-size: 14px;
  letter-spacing: 1.68px;
  margin-top: 5%;
}

#collab-li {
  margin-left: -15%;
}

#tech-li {
  margin-left: -20%;
}
