body {
  margin: 0%;
  font-family: "Archivo", sans-serif;
}

.top-section {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 10.5vh;
  grid-column: 1 / span2;
  grid-row-start: 1;
  background-color: white;
}

.menu-icon,
.mobile-menu {
  display: none;
}

nav {
  transform: rotate(270deg);
  margin-top: -8%;
  margin-right: 17%;
  width: 8%;
  height: 40vh;
}

a {
  text-decoration: none;
}

.nav-links {
  color: rgb(0, 0, 0);
  margin-top: 50%;
  transform: rotate(45deg);
}

.nav-links:hover {
  color: rgb(118, 118, 118);
}

#gallery {
  color: rgb(118, 118, 118);
}

.socials {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
  height: 10vh;
  margin-left: 10%;
  margin-top: 0%;
}

.linkedin {
  width: 25%;
  margin-top: 0%;
  cursor: pointer;
}

.github {
  margin-top: 20%;
  margin-left: -10%;
  cursor: pointer;
  color: #cd6e29;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  animation: fadeIn 3s;
}

img {
  width: 20%;
  margin: 2% 2%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
