@media only screen and (max-width: 480px) {
  /* Homepage menu bar*/

  #home-html {
    background: url(../images/mobile/home/julia-mobile.webp) no-repeat center
      center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  nav,
  #name {
    display: none;
  }

  #top-section-mobile{
  display:block;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: end;
  z-index:2;
  height: 6vh;
  grid-column:1/12;
  grid-row-start: 1;
  }

  .menu-icon {
    display:block;
    margin-top: auto;
    z-index:2;
    margin-right:5%;
    height: 5vh;
  } 

  #bar1 {
    background-color: rgba(205, 110, 41, 1);
    margin-top: 50%;
    margin-left: 10%;
    padding: 0;
    width: 30px;
    height: 2px;
    transform: none;
    transition: none;
  }

  #bar3 {
    background-color: rgba(205, 110, 41, 1);
    margin-top: -30%;
    margin-left: 10%;
    padding: 0;
    width: 30px;
    height: 2px;
    transform: none;
    transition: none;
  }

  .mobile-menu {
    display: none;
    position:fixed;
    top: 0; 
    left: 0; 
    width:100%;
    height:100vh;
    z-index: 1;
    background-color: rgba(255, 255, 255);
  }

  .mobile-menu-links {
    text-decoration: none;
    transition: none;
    color: rgba(205, 110, 41, 1);
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 25%;
    animation: fadeIn 1s;
  }

  .link-divider {
    transition: none;
    height: 2px;
    width: 90%;
    margin-top: -3%;
    margin-left: 10%;
    background-color: rgba(205, 110, 41, 1);
    animation: fadeIn 1s;
  }


  .about {
    grid-area: 4/1/6/10;
    margin-left: 3%;
    margin-top:20%;
  }

  #about-title {
    color: rgb(194, 194, 194);
    font-size: 14px;
  }

  #about-p {
    color: rgb(219, 219, 219);
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 1.6px;
  }

  #julia-jovanovic-mobile {
    display: block;
    width: 100%;
    grid-area: 2/11/7/12;
  }

  /* Gallery page*/



  .gallery-imgs {
    width: 45%;
    margin: 5% 0%;
  }

  /* UIUX page*/
  .content{
    grid-template-rows:10% 15% 25% 25% 1fr; 
  }
  
.uiux-imgs {
    grid-row-start: 2;
  }

  #UIUXOrange {
    margin-left: -3%;
    margin-top: 0%;
  }

  #UIUXBlue {
    margin-left: 3%;
    margin-top: 0%;
  }

  #fluxacademy {
    margin-top: 0%;
    grid-area: 3/2/3/9;
  }

  #frontendmasters {
    margin-top: 0%;
    grid-area: 3/10/3/17;
  }

  #books {
    margin-top: 0%;
    grid-area: 4/2/4/11;
  }

  #books-li{
    margin-left:5%;
  }

  .uiux-content{
    grid-row-start:5;
  }

  .uiux-projects { 
    width: 100%;
  }

  p {
    font-size:14px;
  }
  
  
  /* Code page*/

  #code-content {
    grid-template-rows: 10% 15% 35% 1fr;
  }

  #collab {
    margin-top: 0%;
    margin-left: -5%;
    grid-area: 3/3/3/11;
  }

  #tech {
    margin-top: 0%;
    margin-left: -10%;
    grid-area: 3/14/3/15;
  }

  #education {
    margin-top: 0%;
    margin-left: -10%;
    grid-area: 4/3/4/10;
  }

  #tech-title{
    margin-left:25%;
  }
 
   #collab-title{
    margin-left:25%;
   }

   #education-title{
    margin-left:25%;
   }

   .code-content{
    width: 100%;
    height: 110vh;
  }

   .code-projects{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100%;
    height: 110vh;
  }

  .code-project-imgs{
    width:80%;
  }
  
  .code-project-descriptions {
    width: 90%;
    height: 70vh;
  }

  #videoPlayer{
    width:100%;
  }

  .exit-button{            
      margin-top:-180%;
      margin-left:-10%;
  }
  /* Web3 page*/

  #web3-body {
    grid: none;
    overflow-y: scroll; 
  }

  #web3-content {
    margin-top: 115%; 
    height: 55vh;
  }

  #azuki-title {
    margin-top: 5%;
  }

  #azuki-p {
    padding: 2%;
    color: black;
    font-size: 13px;
  }

  button {
    font-size: 14px;
    padding: 1.5%;
    margin: 2%;
    margin-left: 3%;
  }


  /* Shared styles */
  .top-section {
    justify-content: end;
    height: 6vh;
  }

  .socials {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    height: 6vh;
  }

  .linkedin {
    width: 28%;
    margin-top: 5%;
    margin-left: -10%;
  }

  .github {
    margin-top: 12%;
    margin-left: -20%;
    font-size:0.9em;
  }

  .page-titles {
    font-size: 14px;
  }

.features-title{
    font-size: 14px;
  }

  li {
    font-size: 14px;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
